*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 100px;
}

.section-slider {
    background-image: url("img/slider-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #f0f0f0;
    padding-top: 63px;
    padding-bottom: 19px;

}

.section-slider .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-slider .header ul.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-slider .header ul.menu-list > li > a {
    text-decoration: none;
    padding: 10px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
}

.section-slider .header ul.menu-list > li > a.active {
    color: #212121;
    font-family: Montserrat;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.section-slider .header ul.menu-list > li > a:hover {
    color: #212121;
}

.section-slider .slider-text {
    margin-top: 285px;

}

.section-slider .slider-text p.trending {
    /* Style for "TRENDING" */
    color: #43a047;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;

}

.section-slider .slider-text h2.slider-text-h2 {
    /* Style for "Fishnet Ch" */
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0;

}

.section-slider .slider-text p.slider-text-content {
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.section-slider .slider-text a.button {
    /* Style for "Order Us" */
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    /* Style for "back" */
    /*width: 212px;*/
    /*height: 45px;*/
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 42px;
    letter-spacing: 3px;
    margin-top: 30px;
    transition: box-shadow 0.2s, color 1s, background-color 1s;
}

.section-slider .slider-text a.button:hover {
    box-shadow: none;
    color: white;
    background: black;
}

.section-slider .slider-text a.button img {
    transition: filter 1s;
}

.section-slider .slider-text a.button:hover img {
    filter: invert(1);
}

.slider-paginatoin {
    margin-top: 141px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-paginatoin .circle {
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.slider-paginatoin .circle:hover {
    opacity: 1;
}

.slider-paginatoin .activecircle {
    margin: 0 10px;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.section-featured {
    padding-top: 120px;
}

.container .menu-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

ul.menu-featured {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul.menu-featured a.active {
    text-decoration: none;
    padding: 15px 30px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

ul.menu-featured a {
    text-decoration: none;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    padding: 15px 30px;
}

ul.menu-featured a:hover {
    color: #212121;
}

.explore_all a {
    text-decoration: none;
    /* Style for "explore al" */
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.img_featured {
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.product {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    a {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        height: 100%;
        padding: 50px 30px;
        text-decoration: none;
        border: 1px solid #9c9c9c;
        background-color: #ffffff;
        transition: opacity 0.2s;
        opacity: 0;

        &:hover {
            opacity: 0.9;
        }
    }
}

.product .arrow {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product h2.featured-text-h2 {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.product .featured-content {
    /* Style for "Seat and b" */

    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
    word-break: break-word;
}

.section-exclusive {
    padding-top: 120px;
}

.section-exclusive .exclusive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-exclusive .exclusive .exclusive-first {
    background-image: url(img/promo-img1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #e8e9ec;
    padding: 230px 250px 260px 50px;

}

.section-exclusive .exclusive .exclusive-second {
    background-image: url(img/promo-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #f7f7f7;
    padding: 230px 250px 260px 50px;

}

.exclusive-p {
    /* Style for "exclusive" */
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 0;
}

.exclusive-text-h2 {
    /* Style for "Fishnet Ch" */
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.exclusive-text-content {
    margin: 15px 0;
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.exclusive-button {
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    /* Style for "back" */
    /*width: 212px;*/
    /*height: 45px;*/
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 42px;
    letter-spacing: 3px;
    margin-top: 30px;
    transition: box-shadow 0.2s, color 1s, background-color 1s;
}

a.exclusive-button:hover {
    box-shadow: none;
    color: white;
    background: black;
}

a.exclusive-button img {
    transition: filter 1s;
}

a.exclusive-button:hover img {
    filter: invert(1);
}

.trending-products {
    padding-top: 120px;
}

.trending-products ul.trending-products-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.trending-products ul.trending-products-menu a {
    text-decoration: none;

}

.trending-products ul.trending-products-menu a.trending {
    /* Style for "Trending P" */
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.trending-products ul.trending-products-menu a.explore_all {
    /* Style for "explore al" */
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.trending-products-pictures {
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .picture {
        margin-bottom: 30px;
        margin-right: 100px;
    }
}

.trending-products-pictures-squares {
    --column-margin: 30px;
    --column-count: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 64px calc(-1 * var(--column-margin) / 2) 0;
}

.trending-products-pictures-squares .picture-wrapper {
    width: calc(100% / var(--column-count) - var(--column-margin));
    margin: 0 calc(var(--column-margin) / 2) var(--column-margin);
}

.trending-products-pictures-squares .picture-wrapper .picture {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.trending-products-pictures-squares .picture-wrapper .picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.onlypictures {
    padding-top: 120px;

    .onlypictures-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .item {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;


        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &.item-large {
            grid-row: 1 / 2 span;
            grid-column: 1 / 2 span;
            //grid-row-end: 2 span;
            //grid-column-end: 2 span;
        }
    }
}

.section-hot {
    padding-top: 120px;
}

.hot-deal-wrapper {
    background-image: url(img/slider.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #dee2ef;
    padding-top: 1px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.hot-deal-text {
    margin-top: 287px;

    p.hot-deal {
        color: #e53935;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0;
    }

    h2.hot-deal-h {
        color: #212121;
        font-family: Montserrat;
        font-size: 62px;
        font-weight: 200;
        line-height: 72px;
        text-transform: uppercase;
        margin: 0;
    }

    p.hot-deal-content {
        color: #6c6c6c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin: 0;
    }

    .button {
        color: #212121;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        display: inline-block;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #ffffff;
        text-decoration: none;
        text-align: center;
        padding: 10px 42px;
        letter-spacing: 3px;
        margin-top: 30px;
        transition: box-shadow 0.2s, color 1s, background-color 1s;

        &:hover {
            box-shadow: none;
            color: white;
            background: black;
        }
    }

    .button img {
        transition: filter 1s;
    }

    .button:hover img {
        filter: invert(1);
    }


}

.hot-deal-paginatoin {
    margin-top: 226px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hot-deal-paginatoin .circle {
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.hot-deal-paginatoin .circle:hover {
    opacity: 1;
}

.hot-deal-paginatoin .activecircle {
    margin: 0 10px;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.section-mobile-app {
    margin-top: 120px;
    background-image: url(img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #f9f4f1;
    padding-top: 125px;
    padding-left: 100px;
    padding-bottom: 120px;

    .mobile-app-text .mobile-app-p {
        color: #6c6c6c;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin: 0;
    }

    .mobile-app-text .mobile-app-h {
        margin: 0;
        color: #212121;
        font-family: Montserrat;
        font-size: 62px;
        font-weight: 100;
        line-height: 72px;
        text-transform: uppercase;
    }

    .mobile-app-text .mobile-app-content {
        margin-bottom: 30px;
        color: #6c6c6c;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 300;
        line-height: 24px;
    }

    a.button {
        display: inline-block;
        margin-right: 6px;
    }

}

.section-contact-us {
    padding-top: 120px;
    background-color: #f7f7f7;

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-column-gap: 80px;

        .contact-us h4 {
            color: #6c6c6c;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
        }

        .contact-us p {
            color: #212121;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }

        .useful-infomation h4 {
            color: #6c6c6c;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
        }

        .useful-infomation .menu-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                text-decoration: none;
                display: block;
                color: #212121;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 0.7px;
            }
        }

        .stay-in-touch h4 {
            color: #6c6c6c;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.8px;
        }

        .stay-in-touch p {
            color: #212121;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }

        .stay-in-touch input {
            padding: 13px 223px 13px 15px;
            background-image: url(img/Ôç†.png);
            background-repeat: no-repeat;
            background-position: 95% 50%;
            border: 1px solid #d9dee1;
            background-color: #ffffff;

            placeholder {
                color: #6c6c6c;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
            }
        }
    }

    .footer-text{
        margin-top: 70px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p{
            color: #6c6c6c;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 700;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
        }
    }
}

@media (max-width: 780px) {
    .section-featured {
        .container {
            .img_featured {
                padding-top: 55px;
                display: grid;
                grid-template-columns:  1fr;
                grid-gap: 30px;

                .product{
                    background-size: cover;
                    background-position: left top;
                }
            }
        }
    }

}